.App {
  text-align: center;
}

.top-five {
  background-color: rgb(75, 82, 82);
}

.top-five-pick {
  display: flex;
  justify-content: space-around;
}

.pick-img {
  max-width: 100px;
  border-radius: 50%;
}
